.board {    
    position: relative;
    width: 100%;
}


.board__reset {
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 10%
}

.board__reset-button{
    font-size: 1rem !important;
    display: contents !important;
}


.board__players {
    height:650px;
    display: flex;
    justify-content: space-around;
}


.board__dices {
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}



.board__controls{
    align-items: center;
    top:75%;
    left:50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width:10rem;
    display: flex;
    gap:1.3rem;
    flex-direction: column;
}

.board__controls-input{
    padding:1rem;
    border:1px solid grey;
    background-color: transparent;
}